.home_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  border: 1px solid black;
}

.board_Add {
  width: 100px;
  height: 30px;
  /* color: green; */
  border: 1px solid green;
  background-color: blue;
  color: white;
  margin-left: 50px;
  margin-top: 10%;
}

.Home_Table_Main {
  width: 90%;
  /* background-color: black; */
}

.board_read {
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
  /* border-bottom: 3px solid black;
  margin-bottom: 20px; */
  /* width: 1000px; */
}

.board_title {
  /* position: relative; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: flex;
  width: 400px;
  /* display: flex; */
  flex-direction: column;
  margin-left: 100px;
  margin-right: auto;
  justify-content: center;
  margin-top: 10%;
  padding: 10px 8px 10px 6px;
  background-color: white;
  background-color: blanchedalmond;
  box-shadow: rgb(193, 192, 192) 7px 7px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

.table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid black;
  width: 90%;
  margin: 50px auto;
  border-radius: 0.25rem;
}

.first-tr {
  background: black;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

th {
  font-weight: 500;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

td {
  border-bottom: 1px solid #ddd;
}

.last-child {
  text-align: right;
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}

.Home_icon_margin {
  margin-left: 5px;
  margin-right: 5px;
}
