.Login_main {
  display: flex;
  flex-wrap: wrap;
  /* text-align: center; */
  /* 밑으로 버튼 내리기 */
  flex-direction: column;
  /*  위 아래 정렬*/
  justify-content: center;
  align-items: center;
  /* 헤이트 줘야함 */
  height: 50vh;
  /* margin-top: auto; */
  border: 1px solid black;
  width: 400px;
  background-color: lightcyan;
  margin-left: auto;
  margin-right: auto;
}
.mb-3 {
  width: 250px;
}

.login {
}

.input_id {
  width: 100%;
}

.Id_title {
  margin-left: 5%;
}
